*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
  text-wrap: balance;
}

h3, p{
  font-size: 1.5em;
}

 .final-container {
  min-width: 230px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: repeating-radial-gradient(#0047c8, #56b5fe);

  & input {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bolder;
  }
}

.inicio-container, .juego-container{
  background-image: repeating-radial-gradient(#0047c8, #56b5fe);

  & input {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bolder;
  }
}

#rosco-container{

    & #rosco {
      background: radial-gradient(circle, #56b5fe, #0038a1);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      position: relative;
    }

    & #pregunta{
      width: 60%;
      text-align: center;
    }

    & .letra {
      width: 60px;
      height: 60px;
      border: 2px solid rgb(255, 255, 255);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      transform-origin: center;
      background-color: #56b5fe;
    }

    & h3{
      margin-bottom: 12px;
    }

    & strong{
      font-size: 1.5em;
    }

    & #texto-pregunta {
      width: 100%;
    }
}


#info-container{
  & #tiempo-container{
    background-color: #56b5fe;
    padding: 5px;
    box-sizing: content-box;
  }

  & #aciertos-container{
    position: relative;

    & #aciertos{
      position: absolute;
      top: 5px;
      right: 10px;

      background-color: #3de38b;
      box-sizing: content-box;
    }

    & #fallos{
      position: absolute;
      right: -9px;
      bottom: 30px;
      background-color: #fa467e;
      box-sizing: content-box;
    }

  }
}


#input-container{

  & input{
    color: #56b5fe;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bolder;
  }

  & button{
    cursor: pointer;
    background-color: white;
    border: 1px solid rgb(59, 59, 59);
  }

  & button:hover{
    box-shadow: 2px 2px 3px white;
  }

  & .send-icon{
    width: 16px;
  }

}

.oculta {
  display: none !important;
}

.verde{
  background-color: #3de38b !important;
}

.roja{
  background-color: #fa467e !important;
}

.customButton{
  background-color: #1899D6;
  border-radius: 16px;
  border-width: 0 0 2px;
  font-size: 15px;
  padding: 15px 25px;
  font-weight: 700;
  letter-spacing: .8px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}


@media (width <= 600px) and  (width > 320px) {

  #rosco-container{
    width: 95dvw;

    & .letra {
      width: 45px;
      height: 45px;
    }

    & h3, p{
      font-size: 1.25em;
    }

    & strong{
      font-size: 1.5em;
    }

    & #pregunta{
      width: 70%;
    }
  }
}

@media (width <= 320px ) {

  #rosco-container{

    & .letra {
      width: 30px;
      height: 30px;
    }

    & h3, p{
      font-size: 1em;
    }

    & strong{
      font-size: 1.5em;
    }
  }
}

