*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
  text-wrap: balance;
}

h3, p{
  font-size: 1.5em;
}

.inicio-container, .juego-container, .final-container {
  min-width: 230px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 100dvh;
  background-image: repeating-radial-gradient(#0047c8, #56b5fe);

  & input {
    padding: 8px;
    border-radius: 6px;
    border: none;
    color: #56b5fe;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bolder;
  }
}

#rosco-container{
  aspect-ratio: 1 / 1;
  padding: 10px;
  width: 80dvh;
  height: 80dvh;

    & #rosco {
      width: 100%;
      height: 100%;
      background: radial-gradient(circle, #56b5fe, #0038a1);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      position: relative;
    }

    & #pregunta{
      width: 60%;
      text-align: center;
    }

    & .letra {
      width: 60px;
      height: 60px;
      border: 2px solid rgb(255, 255, 255);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      transform-origin: center;
      background-color: #56b5fe;
    }

    & h3{
      margin-bottom: 12px;
    }

    & strong{
      font-size: 1.5em;
    }

    & #texto-pregunta {
      width: 100%;
    }
}


#info-container{
  display: flex;
  justify-content: space-around;
  width: 100%;

  & #tiempo-container{
    width: 30px;
    height: 30px;
    border: 1.5px solid rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #56b5fe;
    padding: 5px;
    box-sizing: content-box;
  }

  & #aciertos-container{
    position: relative;

    & #aciertos{
      position: absolute;
      top: 5px;
      right: 10px;
      width: 20px;
      height: 20px;
      border: 1.5px solid rgb(255, 255, 255);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #3de38b;
      padding: 5px;
      box-sizing: content-box;
    }

    & #fallos{
      position: absolute;
      right: 0px;
      bottom: 35px;
      width: 10px;
      height: 10px;
      border: 1.5px solid rgb(255, 255, 255);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fa467e;
      padding: 5px;
      box-sizing: content-box;
    }

  }
}


#input-container{

  display: flex;
  align-items: center;
  gap: 4px;

  & input{
    padding: 8px;
    border-radius: 6px;
    border: none;
    color: #56b5fe;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bolder;
  }

  & button{
    display: flex;
    cursor: pointer;
    appearance: none;
    background-color: white;
    border: 1px solid rgb(59, 59, 59);
    border-radius: 50%;
    padding:5px;
    box-shadow: 1px 1px 2px black;
  }

  & button:hover{
    box-shadow: 2px 2px 3px white;
  }

  & .send-icon{
    width: 16px;
  }

}

.oculta {
  display: none;
}

.verde{
  background-color: #3de38b !important;
}

.roja{
  background-color: #fa467e !important;
}

.customButton{
  background-color: #1899D6;
  border-radius: 16px;
  border-width: 0 0 2px;
  font-size: 15px;
  padding: 15px 25px;
  font-weight: 700;
  letter-spacing: .8px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 18px;
  cursor: pointer;
}


@media only screen and (max-device-width: 600px) {
  #rosco-container{
    width: 100dvw;
    height: auto;
  }
}

@media (width <= 600px) and  (width > 320px) {

  #rosco-container{
    width: 90dvw;

    & .letra {
      width: 45px;
      height: 45px;
    }

    & h3, p{
      font-size: 1.25em;
    }

    & strong{
      font-size: 1.5em;
    }

    & #pregunta{
      width: 70%;
    }
  }
}

@media (width <= 320px ) {

  #rosco-container{

    & .letra {
      width: 30px;
      height: 30px;
    }

    & h3, p{
      font-size: 1em;
    }

    & strong{
      font-size: 1.5em;
    }
  }
}

